<h2>Lista de Servicios:</h2>

<ul>
    <li ng-repeat='servicio in servicios'>
    	<span>{{servicio.nombre}}</span>
    	<a href="/#/servicios/editar/{{servicio._id}}">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
    	<a href="/#/servicios/eliminar/{{servicio._id}}">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
        <br/>
        <span>Subservicios:</span>  
        <a href="/#/servicios/{{servicio._id}}/subservicios/nuevo">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <ul>
        	<li ng-repeat="subservicio in servicio.subservicios">
        		<span>{{subservicio.nombre}}</span>
		    	<a href="/#/servicio/{{servicio._id}}/subservicio/editar/{{subservicio._id}}">Editar</a>
		    	<a href="/#/servicio/{{servicio._id}}/subservicio/eliminar/{{subservicio._id}}">
		            <i class="glyphicon glyphicon-remove"></i>
		        </a>
        	</li>
        </ul>
    </li>
    
</ul>


 <a href="/#/servicios/nuevo" class="btn btn-primary">Nuevo Servicio</a>