<h1>Nuevo Usuario</h1>

<form>
    <div class="form-group">
        <label>Nombre</label>		
        <input class="form-control" ng-model="usuario.nombre"></input>
    </div>
    <div class="form-group">
        <label>Correo electrónico</label>		
        <input class="form-control" ng-model="usuario.correo"></input>
    </div>
    <div class="form-group">
        <label>rol</label>
        <select ng-options="rol for rol in roles" ng-model="usuario.rol"></select>
    </div>
    <div class="form-group" ng-if="editar">
        <label>Reiniciar Contraseña</label>
        <input type="checkbox" ng-model="usuario.reiniciarContrasena">
    </div>

    <input type="button" class="btn btn-primary" value="Save" ng-click="guardar()"></input>	
</form>