<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon glyphicon-qrcode"></span>
                Cleansuit
            </a>
        </div> 

        <ul class="nav navbar-nav">
            <li><a ui-sref="home.inicio">Home</a></li>
            <li><a ui-sref="home.about">About</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home.login">Login</a></li>
            <li><a ui-sref="home.signup">Sigup</a></li>
      </ul>
    </div>
</nav>