<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="CleanSuit">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <%- include(view) %>             
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>