doctype html
html(ng-app='CleanSuit')
head
	title= title
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
	script(src='/javascripts/app.js')

	script(src='/partials/HomeCtrl.js')
	script(src='/partials/productos/ProductosCtrl.js')
	script(src='/partials/productos/NuevoProductoCtrl.js')
	script(src='/partials/productos/EliminarProductoCtrl.js')
	script(src='/partials/productos/EditarProductoCtrl.js')
	script(src='/partials/servicios/ServiciosCtrl.js')
	script(src='/partials/servicios/NuevoServicioCtrl.js')
	script(src='/partials/servicios/EditarServicioCtrl.js')
	script(src='/partials/servicios/EliminarServicioCtrl.js')
	script(src='/partials/servicios/NuevoSubservicioCtrl.js')
	script(src='/partials/servicios/EditarSubservicioCtrl.js')
	script(src='/partials/servicios/EliminarSubservicioCtrl.js')
body
	block content
