<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="CleanSuit">
<head>
    <title>CleanSuit - Restaurar contraseña</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body class="container">

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<%
var estado = estado || 0;
switch (estado) { 
    case "RESET_OK":%>
        felicidades se ha cambiado la contraseña exitosamente.
<%      break;
    case "CONTRASENA":%>
        las contraseñas no coinciden o estan mal formadas.
<%      break;
    case "CADUCADO":%>
        El enlace de recuperar contraseña es inválido o ha caducado.
<%      break;
    default:%>
        por defecto
<%      break;
    } %> 

    <form action="<%= pass_token >%" method="post">
        <table align="center" bgcolor="#FFFFFF" height="100%" style="max-width: 590px; width: 100%;">
            <tr>
                <td style="text-align:center; width: 100%;" height="50"/>
            </tr>
            <tr>
                <td valign="top">
                    <table id="Tabla_01" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border: 1px solid #EAEAEA; border-radius: 8px; font-family:Tahoma; text-align: center;color:#666666; max-width: 590px; width: 100%;">

                        <tr>
                            <td style="padding: 10px 0">
                                <img src="http://visionoid.net/karen/logo.png" alt="Logo CleanSuit" style="display:inline-block; border:0;"/>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#44A01A" height="70">
                                <h2 style="color:#FFFFFF;margin:0; font-weight:normal; font-size:27px;">Restaurar contraseña</h2>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="font-size:16px; font-weight:bold; line-height:22px; padding:75px 0 28px;">
                                <span style="display:inline-block; width:90%; max-width:350px">
                                    Hemos recibido una solicitud para restablecer la contraseña de tu cuenta.
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="font-size:15px; line-height:18px; padding:0 15px 36px;">
                                Haz clic en el enlace de abajo para realizar esta acción.
                             </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="padding-top:0px; padding-bottom:30px;">    
                                contraseña <input name="contrasena" />   
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="padding-top:0px; padding-bottom:30px;">    
                                confirme contraseña <input name="confirmarContrasena" />   
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="padding-top:0px; padding-bottom:30px;">    
                                <input type="submit" value="restablecer"> 
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="font-size:15px; line-height:19px; padding-bottom:78px;">
                                <span style="display: inline-block; width: 90%; max-width: 265px">
                                    Si no deseas modificar tu contraseña, ignora y elimina este mensaje.
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" style="color:#999999; font-size:11px; line-height:15px; padding:0 10px 24px;">
                                No respondas este correo electrónico. <br/>Los correos electrónicos enviados a esta dirección no se responderán.
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>

            <tr>
                <td bgcolor="#FFFFFF" style="color:#666666; font-size:11px; line-height:15px; font-family: Tahoma;padding:12px 35px 24px; text-align:center; max-width:590px; width:100%;">
                        CleanSuit - Sede Principal: Calle 19 # 4a-20 Chía - Cundinamarca 
                </td>
            </tr>
        </table>
    </form>
    
</body>  
</html>
