<!-- views/reset.ejs -->
<%
var estado = estado || 0;
var errContrasena = errContrasena || false;
var baseUrl = baseUrl || ".";
%>

<!DOCTYPE html>
<html lang="en" ng-app="CleanSuit">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, all" >
    <title>CleanSuit | Lavandería Boutique en Bogotá</title>
    <meta name="description" content="Lavandería y Productos de limpieza en Bogotá. Lavado de prendas en frio y en seco, tintorería, sastrería y zapatería. Productos para el hogar e industria. Servicio a domicilio" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    
    <link rel="icon" sizes="192x192" href="favicon_192.png">
    <link rel="shortcut icon" href="favicon.ico">

    <script src="<%= baseUrl %>/javascripts/lib/jquery/dist/jquery.js"></script>
    <script src="<%= baseUrl %>/javascripts/lib/jquery-validation-1.15.1/dist/jquery.validate.js"></script>
    <script src="js/cleansuit.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="<%= baseUrl %>/javascripts/sketch.js"></script>


</head>

<body>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#formReset').validate({
                rules: {
                    contrasena: {
                        minlength: 6,
                        maxlength: 15,
                        required: true
                    },
                    confirmarContrasena: {
                        minlength: 6,
                        maxlength: 15,
                        required: true,
                        equalTo: "#contrasena"
                    },
                },
                messages : {
                    contrasena: {
                        minlength: "La contraseña debe tener mínimo 6 caracteres.",
                        maxlength: "La contraseña debe tener máximo 15 caracteres.",
                        required: "Este campo es obligatorio."
                    },
                    confirmarContrasena: {
                        minlength: "La contraseña debe tener mínimo 6 caracteres.",
                        maxlength: "La contraseña debe tener máximo 15 caracteres.",
                        required: "Este campo es obligatorio.",
                        equalTo: "Las contraseñas no coinciden."
                    },
                }
            });

           
        });
    </script>

</body>  
</html>
