<h1>Eliminar Producto</h1>
<p>
    Estás seguro que quieres eliminar este producto?
</p>
<ul>
    <li>Nombre: {{producto.nombre}}</li>
    <li>Precio: {{producto.precio}}</li>
    <li>Descripción corta: {{producto.desc_corta}}</li>
    <li>Descripción Larga: {{producto.desc_larga}}</li>
    <li>Foto: {{producto.url_imagen}} <img ng-src="{{producto.url_imagen}}" /> </li>
</ul>
<input type="button" value="Eliminar" class="btn btn-danger" ng-click="eliminar()" />
<a class="btn btn-default" ui-sref="app.productos">Cancelar</a>