
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Ingresar</h1>

    <div class="alert alert-danger" ng-if="error">{{error}}</div>


    <!-- LOGIN FORM -->
    <form>
        <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="text" class="form-control" name="email" ng-model="usuario.correo">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="password" ng-model="usuario.contrasena">
        </div>

        <button class="btn btn-warning btn-lg" ng-click="ingresar()">Ingresar</button>
    </form>

    <hr>

    <p>Nuevo en Cleansuit? <a ui-sref="home.signup">Registrarse</a></p>

</div>
