
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span>Registrarse</h1>

	<div class="alert alert-danger" ng-if="error.length > 0">{{error}}</div>

	<!-- LOGIN FORM -->
	<form >
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" class="form-control" name="nombre" ng-model="usuario.nombre">
		</div>
		<div class="form-group">
			<label>Correo Electrónico</label>
			<input type="text" class="form-control" name="correo" ng-model="usuario.correo">
		</div>
		<div class="form-group">
			<label>Contraseña</label>
			<input type="password" class="form-control" name="contrasena" ng-model="usuario.contrasena">
		</div>

		<button class="btn btn-warning btn-lg" ng-click="registrar()">Registrarse</button>
	</form>

	<hr>

	<p>Ya eres usuario Cleanstui? <a ui-sref="home.login">Ingresar</a></p>

</div>