<h1>{{mensaje}}</h1>

<div class="alert alert-danger" ng-if="error">{{error}}</div>

<input type="button" class="btn btn-primary" value="Save" ng-click="guardar()"></input>

<form>
    <div class="form-group">
        <label>Imagen</label>       
        <input class="form-control" ng-model="promocion.url_imagen"></input>
    </div>

    <div class="form-group">
        <label>Descuento</label>       
        <input class="form-control" ng-model="promocion.descuento"></input>
    </div>
    
    <div class="form-group">
        <label>Código</label>		
        <input class="form-control" ng-model="promocion.codigo"></input>
    </div>
    
    <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" ng-model="promocion.descripcion"></textarea>
    </div>
    
    <div class="form-group">
        <label>Items</label><br/>
        <input type="checkbox" ng-model="pys.aplica" ng-checked="pys.aplica"><br/>

        <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Aplicar</th>
                <th>Nombre</th>
                <th>Descuento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='pys in productosYServicios'>
                <td>
                    <input type="checkbox" ng-model="promocion.items[pys._id]" ng-checked="promocion.items[pys._id]">
                </td>
                <td>
                    {{pys.nombre}}
                </td>
                <td>
                    <input type="number" ng-model="pys.descuento" value="{{pys.descuento}}"/>
                </td>
            </tr>
        </tbody>
        </table>
       
    </div>


	
</form>