<h2>Lista de Ordenes:</h2>

<div ng-if="ordenes.length==0">No hay Ordenes disponibles.</div>
<table class="table table-responsive table-hover" ng-if="ordenes.length>0">
	<thead>
		<tr>
			<th>Código</th>
			<th>Informacion Usuario</th>
			<th>Informacion Orden</th>
			<th>Items</th>
			<th>Estado</th>
			<th>Fecha Pedido</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-class="{ 
					'success': {{orden.estado == 'nueva'}}, 
					'danger': {{orden.estado == 'cancelada'}}, 
					'info': {{orden.estado == 'entregada'}}
			}" 
			ng-repeat='orden in ordenes track by $index'>
			<td>{{orden.codigo}}</td>
			<td>
				{{orden.cliente_id.nombre}}<br/>
				{{orden.cliente_id.correo}}
			</td>
			<td>
				<address ng-if="!soloProductos($index)">
					<strong>Recolección.</strong><br>
					Dirección: {{orden.orden.recoleccion.direccion}}<br/>
					Posicion Geografica: {{orden.orden.recoleccion.posicion.lat}} {{orden.orden.recoleccion.posicion.lng}} <br/>
					Fecha: {{orden.orden.recoleccion.fecha | date}}<br/>
					Hora: {{orden.orden.recoleccion.hora}}<br/>
					Domiciliario: <select ng-options="dr as dr.nombre for dr in domiciliarios track by dr._id" ng-model="orden.domiciliario_recoleccion_id" ng-change="asignarDomiciliarioRecoleccion(orden, $index)" ng-disabled="!asignarDomiciliariosEnabled"></select>
				</address>
				<address>
					<strong>Entrega.</strong><br>
					Dirección: {{orden.orden.entrega.direccion}}<br/>
					Posicion Geografica: {{orden.orden.entrega.posicion.lat}} {{orden.orden.entrega.posicion.lng}}<br/>
					Fecha: {{orden.orden.entrega.fecha | date}}<br/>  
					Hora: {{orden.orden.entrega.hora}}<br/>
					Domiciliario: <select ng-options="de as de.nombre for de in domiciliarios track by de._id" ng-model="orden.domiciliario_entrega_id" ng-change="asignarDomiciliarioEntrega(orden, $index)" ng-disabled="!asignarDomiciliariosEnabled"></select>
				</address>
				<label>Forma de Pago:</label><span>{{orden.orden.formaPago ? orden.orden.formaPago : 'No disponible'}}</span><br />
				<label>Teléfono:</label><span>{{orden.orden.telefono ? orden.orden.telefono : 'No disponible'}}</span><br />
				<label>Servicio Directo:</label><span>{{orden.orden.servicioDirecto ? 'Si': 'No'}}</span><br />
			</td>
			<td>
				Orden de cotizacion:
				<div ng-repeat="item in orden.items track by $index" >
					<strong>Item {{$index+1}}</strong><br>
					Tipo: <strong>{{item.tipo}}.</strong><br>
					Descripción: {{item.nombre}}<br/>
					Precio: {{item.precio}}<br/>
					Cantidad: {{item.cantidad}}<br><br>
				</div>
				<br/><br/>
				Items recolectados:
				<br/>
				Prendas:
				<div ng-repeat="item in orden.recoleccion.items.prendas track by $index" >
					<strong>Item {{$index+1}}</strong><br>
					Codigo: <strong>{{item.codigo}}.</strong><br>
					Servicio: {{item.servicio.nombre}}<br/>
					Subservicio: {{item.subservicio.nombre}}<br/>
					Fotos: <br/>
					<div ng-repeat="foto in item.fotos track by $index" >
						foto {{$index + 1}}: <br/>
						<img ng-src="http://api.cleansuit.co/updates/{{foto.nombre}}" style="height: 100px; ">
					</div>
				</div>
				<br/>
				Productos:
				<div ng-repeat="item in orden.recoleccion.items.productos track by $index" >
					<strong>Item {{$index+1}}</strong><br>
					Tipo: <strong>{{item.tipo}}.</strong><br>
					Descripción: {{item.nombre}}<br/>
					Precio: {{item.precio}}<br/>
					Cantidad: {{item.cantidad}}<br><br>
				</div>
				<br/><br/>
				Items entregados:
				<br/>
				Prendas:
				<div ng-repeat="item in orden.entrega.items.prendas track by $index" >
					<strong>Item {{$index+1}}</strong><br>
					Codigo: <strong>{{item.codigo}}.</strong><br>
					Servicio: {{item.servicio.nombre}}<br/>
					Subservicio: {{item.subservicio.nombre}}<br/>
					Fotos: <br/>
					<div ng-repeat="foto in item.fotos track by $index" >
						foto {{$index + 1}}: <br/>
						<img ng-src="http://api.cleansuit.co/updates/{{foto.nombre}}" style="height: 100px; ">
					</div>
				</div>
				<br/>
				Productos:
				<div ng-repeat="item in orden.entrega.items.productos track by $index" >
					<strong>Item {{$index+1}}</strong><br>
					Tipo: <strong>{{item.tipo}}.</strong><br>
					Descripción: {{item.nombre}}<br/>
					Precio: {{item.precio}}<br/>
					Cantidad: {{item.cantidad}}<br><br>
				</div>
				<br/><br/>
			</td>
			<td >
				<div >
					{{orden.estado}} 
					<div ng-if="orden.estado=='cancelada' && orden.cancelacion.motivo">
						<br/>Motivo de cancelacion: {{orden.cancelacion.motivo}} {{motivos[orden.cancelacion.motivo]}}
					</div>
				</div>
			</td>
			<td>
				<div>
					{{orden.fecha}}
				</div>
			</td>
			<td>
				
			</td>
		</tr>
	</tbody>
</table>