<h2>Lista de Ordenes:</h2>

<div ng-if="ordenes.length==0">No hay Ordenes disponibles.</div>
<table class="table table-responsive table-hover" ng-if="ordenes.length>0">
	<thead>
		<tr>
			<th>Código</th>
			<th>Informacion Usuario</th>
			<th>Informacion Orden</th>
			<th>Items</th>
			<th>Estado</th>
			<th>Fecha Pedido</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-class="{ 
					'success': {{orden.estado == 'nueva'}}, 
					'danger': {{orden.estado == 'cancelada'}}, 
					'info': {{orden.estado == 'entregada'}}
			}" 
			ng-repeat='orden in ordenes track by $index'>
			<td>{{orden.codigo}}</td>
			<td>
				{{orden.cliente_id.nombre}}<br/>
				{{orden.cliente_id.correo}}
			</td>
			<td>
				<address>
					<strong>Recolección.</strong><br>
					Dirección: {{orden.orden.recoleccion.direccion}}<br/>
					Posicion Geografica: {{orden.orden.recoleccion.posicion.lat}} {{orden.orden.recoleccion.posicion.lng}} <br/>
					Fecha: {{orden.orden.recoleccion.fecha | date}}<br/>
					Hora: {{orden.orden.recoleccion.hora}}<br/>
				</address>
				<address>
					<strong>Entrega.</strong><br>
					Dirección: {{orden.orden.entrega.direccion}}<br/>
					Posicion Geografica: {{orden.orden.entrega.posicion.lat}} {{orden.orden.entrega.posicion.lng}}<br/>
					Fecha: {{orden.orden.entrega.fecha | date}}<br/>  
					Hora: {{orden.orden.entrega.hora}}<br/>
				</address>
				<label>Forma de Pago:</label><span>{{orden.orden.formaPago ? orden.orden.formaPago : 'No disponible'}}</span><br />
				<label>Teléfono:</label><span>{{orden.orden.telefono ? orden.orden.telefono : 'No disponible'}}</span><br />
				<label>Servicio Directo:</label><span>{{orden.orden.servicioDirecto ? 'Si': 'No'}}</span><br />
			</td>
			<td>
				<div ng-repeat="item in orden.items track by $index" >
					<strong>Item {{$index+1}}</strong><br>
					Tipo: <strong>{{item.tipo}}.</strong><br>
					Descripción: {{item.nombre}}<br/>
					Precio: {{item.precio}}<br/>
					Cantidad: {{item.cantidad}}<br><br>
				</div>
			</td>
			<td >
				<div >
					{{orden.estado}} 
				</div>
			</td>
			<td>
				<div>
					{{orden.fecha}}
				</div>
			</td>
			<td>
				<button>Asignar Domiciliario</button>
			</td>
		</tr>
	</tbody>
</table>